<mat-card fxLayout="column" fxLayoutGap="25px">
  <mat-card-title> Create Timesheet </mat-card-title>
  <mat-card-content>
    <form [formGroup]="editTimesheetForm">
      <div fxLayout="column" fxLayoutGap="25px">
        <!-- Project name -->
        <mat-form-field appearance="outline">
          <mat-label>Project</mat-label>
          <mat-hint>The project name</mat-hint>
          <input type="text" matInput formControlName="projectName" />
          <mat-error>Project name is required</mat-error>
        </mat-form-field>
        <!-- Task name -->
        <mat-form-field appearance="outline">
          <mat-label>Task</mat-label>
          <mat-hint>The task name</mat-hint>
          <!-- <input type="text" matInput formControlName="taskName" /> -->
          <mat-select name="task" formControlName="taskName">
            <mat-option *ngFor="let task of tasks$ | async" [value]="task.id">
              {{ task.name }}
            </mat-option>
          </mat-select>
          <mat-error>Task name is required</mat-error>
        </mat-form-field>
        <!-- Date from  -->
        <div fxLayout fxLayoutGap="25px">
          <mat-form-field appearance="outline">
            <mat-label>Date from</mat-label>
            <mat-hint>Starting date of the task</mat-hint>
            <input
              matInput
              formControlName="dateFrom"
              [matDatepicker]="pickerFrom"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="pickerFrom"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
            <mat-error>End end is required</mat-error>
          </mat-form-field>
          <!-- Date to  -->
          <mat-form-field appearance="outline">
            <mat-label>Date to</mat-label>
            <mat-hint>The end date of the task</mat-hint>
            <input
              matInput
              formControlName="dateTo"
              [matDatepicker]="pickerTo"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="pickerTo"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
            <mat-error>End end is required</mat-error>
          </mat-form-field>
        </div>
        <!-- Status -->
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <!-- <input type="text" matInput formControlName="status" /> -->
          <mat-select name="status" formControlName="status">
            <mat-option
              *ngFor="let status of statuses$ | async"
              [value]="status.id"
            >
              {{ status.name }}
            </mat-option>
          </mat-select>
          <mat-error>Status is required</mat-error>
        </mat-form-field>
        <!-- Assign to -->
        <mat-form-field appearance="outline">
          <mat-label>Assign to</mat-label>
          <!-- <input type="text" matInput formControlName="assignTo" /> -->
          <mat-select name="user" formControlName="assignTo">
            <mat-option *ngFor="let user of users$ | async" [value]="user.id">
              {{ user.firstName + " " + user.lastName }}
            </mat-option>
          </mat-select>
          <mat-error>The assignee is required</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions fxLayout fxLayoutAlign="center center" fxLayoutGap="25px">
    <button
      type="button"
      color="primary"
      mat-raised-button
      (click)="onSave()"
      mat-dialog-close="true"
    >
      Save
    </button>
    <button
      type="button"
      color="primary"
      mat-raised-button
      [mat-dialog-close]="true"
    >
      Close
    </button>
  </mat-card-actions>
</mat-card>
