<div fxFlex fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" />
  </mat-form-field>
  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="openCreateModalDialog('0ms', '0ms')"
  >
    Create
  </button>
</div>
