<div style="margin: 50px 50px;">
    <mat-card>
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
                <app-searchbox></app-searchbox>
                <app-listing></app-listing>
            </div>
        </mat-card-content>
    </mat-card>
</div>
    